@font-face {
    font-family: Play-Bold;
    src: url(shrifts/Play-Bold.ttf);
}

@font-face {
    font-family: Play-Regular;
    src: url(shrifts/Play-Regular.ttf);
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #111111;
    font-family: Play-Regular;
}

h1{
    margin: 0px;
}

.cone{
    display: block;
    width: 100%;
    height: 110px;
    border-top: 57px solid #111111;
    border-radius: 50%;
    position: relative;
    top: -50px;
    border-left: 0px;
    border-right: 0px;
    
}

header{
    background-color: #1B1B1B;
    display: flex;
    max-height: 51px;
}

nav:last-child{
   margin: 0px auto 0px auto;
}

nav{
    display: inline-flex;
}

header>h1>span:first-child{
    color: #FAFF00;
}

header>h1>span:last-child{
    color: #0066FF;
}

header>h1{
    margin: 7px 0px 7px 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    height: 37px;
    color: #FF0000;
}

nav>ul{
    margin: auto;
    padding: 0px;
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 51px;
    list-style-type: none;
}

nav>ul>li{
    margin: 0px 140px 0px 0px;
}

nav>ul>li:last-child{
    margin: 0px 0px 0px 0px;
}

nav>ul>li>a{
    transition: 0.3s;
    font-family: Play-Bold;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

nav>ul>li>a:hover{
    transition: 0.3s;
    color: #18F0E8;
    text-shadow: 0px 0px 10px #1AB8B2;
}

main{
    z-index: 0px;
    background-color: #111111;
    overflow: hidden;
}

.hat-container{
    max-height: 624px;
    max-width: 1360px;
    margin: 0px auto;
}

.Elipse-1{
    margin: 0px;
    position: relative;
    top: -900px;
    left: -140px;
    background-color: #18F0E8;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    box-shadow: 0px 4px 88px #18F0E8;
    animation-name: svg-animate;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Elipse-2{
    position: relative;
    top: -1170px;
    left: 1300px;
    width: 405px;
    height: 405px;
    background: #2C00F0;
    box-shadow: -14px 0px 88px #2C00F0;
    border-radius: 50%;
    animation-name: svg-animate;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.player{
    position: relative;
    top: -175px;
    left: 540px;
    width: 648px;
    height: 508px;
}

.svg-hc{
    position: relative;
    top: -820px;
    left: 600px;
    filter: drop-shadow(0px 0px 88px #FFFFFF);
    animation-name: svg-animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hctext{
    position: relative;
    top: 77px;
    left: 0px;
    text-align: center;
    width: 534px;
}

.hctext>h1{
    font-family: Play-Bold;
    color: #FF0000;
    font-size: 64px;
    line-height: 74px;
    text-shadow: 6px 5px 4px #FFFFFF;
}

.hctext>h1>span:nth-child(1){
    color: #FAFF00;
}

.hctext>h1>span:nth-child(2){
    color: #0066FF;
}

.hctext>p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.hat-container>a>button{
    transition: 0.3s;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    top: -65px;
    left: 150px;
    background: #ED480C;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 0px #F57446;
}

.hat-container>a>button:hover{
    transition: 0.3s;
    background: #E61D00;
    box-shadow: 9px 8px #DE432C;
}

.features-container{
    background: #FFFFFF;
}

.features-container>h2{
    text-align: center;
    padding-top: 29px;
    margin-bottom: 70px;
    margin-top: 0px;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
    padding-bottom: 214px;
    max-width: 1300px;
}

.box-features-conteiner{
    display: flex;
    text-align: center;
    width: 299px;
    height: 404px;
    background: #E8E8E8;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0px auto 0px auto;
    flex-direction: column;
}

.box-features-conteiner>i{
    font-size: 75px;
    margin: 23px 0px 37px 0px;
}

.box-features-conteiner>p{
    text-align: center;
    margin: 0px auto 0px auto;
    width: 257px;
}

.prise-container{
    margin-bottom: 78px;
}

.prise-container>h2{
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: -170px;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 0px;
}

.prise-container>p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: -170px;
}

.prise-container>ul{
    margin: 0px auto 0px auto;
    max-width: 1000px;
    display: flex;
}

.prise-container>ul>li{
    background: #FFFFFF;
    box-shadow: 10px 10px 4px #C1C1C1;
    border-radius: 20px;
    width: 322px;
    height: 361px;
    list-style-type: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0px auto 0px auto;
}

.prise-container>ul>li>p{
    width: 282px;
    margin: 0px auto 93px auto;
    padding-top: 77px;
}

.prise-container>ul>li:first-child>p{
    width: 230px;
}

.prise-container>ul>li:last-child>p{
    width: 266px;
}

.prise-container>ul>li>a>button,
.box-register-button>button{
    width: 266px;
    height: 81px;
    cursor: pointer;
    background-color: #F0002F;
    border: none;
    border-radius: 20px;
    padding: 18px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 32px;
    line-height: 37px;
    box-shadow: 3px 3px 0px #F72750;
    color: #FFFFFF;
    transition: 0.3s;
    font-family: Play-regular;
}

.prise-container>ul>li>a>button:hover,
.box-register-button>button:hover{
    background-color: #FF4B6F;
    box-shadow: 6px 6px 0px #F72750;
    transition: 0.3s;
}

.gift-box{
    margin: 72px auto 0px auto;
    text-align: center;
    display: block;
    width: 786px;
    height: 294px;
    background-color: #FFFFFF;
    border-radius: 22px;
    padding-top: 44px;
    padding-bottom: 21px;
    box-shadow: 10px 10px 4px #C1C1C1;
}

.gift-box>h3{
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 24px;
}

.gift-box>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 0px auto 48px auto;
    width: 648px;
    height: 52px;
}

.gift-box>h4{
    font-size: 24px;
    line-height: 28px;
}

.bt-s3,
.bt-s2,
.bt-s1{
    height: 0px;
    max-width: 1400px;
    margin: 0px auto 0px auto;
}

.bt-s3>img{
    position: relative;
    top: -250px;
    left: -240px;
    filter: drop-shadow(0px 0px 55px #00FFF4);
    animation-name: svg-animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bt-s2>img{
    z-index: 1;
    position: relative;
    top: -260px;
    left: 1135px;
    filter: drop-shadow(0px 0px 88px #F05301);
    animation-name: svg-animate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bt-s1>img{
    position: relative;
    top: -260px;
    left: -270px;
    filter: drop-shadow(0px 0px 88px #F0002F);
    animation-name: svg-animate;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.about-us{
    padding-top: 7px;
    padding-bottom: 37px;
    background-color: #FFFFFF;
    text-align: center;
}

.about-us>h2{
    font-size: 36px;
    line-height: 42px;
    margin-top: 0px;
    margin-bottom: 17px;
}

.d5{
    display: grid;
    grid-template-columns: auto;
    margin: 119px auto 144px auto;
    max-width: 1500px;
}

.about-us-content-box>p{
    grid-column-start: 1;
    margin: 0px auto 79px auto;
    font-size: 20px;
    line-height: 23px;
    width: 454px;
}

.slider-box{
    margin: 0px auto 0px auto;
    grid-column-start: 2;
    width: 600px;
    height: 421px;
}

.slider-box::-webkit-scrollbar{
    width: 0px;
}

.carousel-fade{
    width: 600px;
    height: 421px;
    margin: 0px auto 0px auto;
    filter: drop-shadow(0px 0px 40px #8700FF);
}

.w-100{
    border-radius: 53px;
}

.order-container{
    height: 900px;
    padding-top: 95px;
    padding-bottom: 93px;
}

.box-register-form{
    margin: 0px auto 0px auto;
    width: 945px;
    position: relative;
    top: -240px;
}

.box-register{
    padding-top: 19px;
    width: 945px;
    height: 580px;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px #C6C6C6;
    border-radius: 76px;
    text-align: center;
}

.box-register>h2{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 52px;
}

.box-register-button{
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    width: 742px;
}

.box-register-button>input{
    outline: none;
    border: none;
    margin-bottom: 51px;
    border-bottom: 2px solid #000000;
    transition: 0.5s;
}

.box-register-button>input:hover{
    border-bottom: 2px solid #F72750;
    transition: 0.5s;
}

.box-register-button>button{
    margin: 0px auto 0px auto;
}

.box-register-form>img:nth-child(1){
    position: relative;
    top: 140px;
    left: -134px;
    filter: drop-shadow(0px 0px 88px #2C00F0);
    animation-name: svg-animate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box-register-form>img:nth-child(2){
    position: relative;
    top: 700px;
    left: 424px;
    filter: drop-shadow(0px 0px 88px #F05301);
    animation-name: svg-animate;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes svg-animate{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}

footer{
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
}

.f1{
    max-width: 1500px;
    margin: 0px auto 0px auto;
}

.top-footer{
    display: flex;
    justify-content: space-between;
}

.top-footer>ul,
.contacts>ul,
.contacts>ul>li>a,
.work-schedule>li>a{
    font-size: 20px;
    line-height: 23px;
    color: #666666;
    list-style-type: none;
    text-decoration: none;
    transition: 0.3s;
}

.work-schedule{
    padding: 0px;
}

.contacts>ul>li:hover>a{
    transition: 0.3s;
    color: #ff0000;
}

.social-media{
    padding-top: 27px;
    border-top: 2px solid black;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    display: flex;
    width: 100%;
}

.social-icon{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.social-media>h4{
    font-size: 20px;
    line-height: 23px;
    color: #666666;
}

.social-icon>li{
    margin: 0px 5px 0px 5px;
}

.social-icon>li>a{
    color: #000000;
    font-size: 30px;
    transition: 0.4s;
}

.social-icon>li:nth-child(1):hover>a{
    color: #0066ff;
    filter: drop-shadow(0px 0px 10px #0066ff);
    transition: 0.4s;
}

.social-icon>li:nth-child(2):hover>a{
    color: #003077;
    filter: drop-shadow(0px 0px 10px #003077);
    transition: 0.4s;
}

.social-icon>li:nth-child(3):hover>a{
    color: #F100CB;
    filter: drop-shadow(0px 0px 10px #F100CB);
    transition: 0.4s;
}